body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  /* overflow-x: hidden; */
  overflow-y: hidden;
}



.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

